.home-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
	height: 90vh;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	place-items: center;
	width: 100%;
	flex-direction: column;
}
