.card {
	padding: 20px;
	width: 180px;
	height: 180px;
	border-radius: 25%;
	transition: background-color 0.3s ease, transform 0.3s ease;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card:hover {
	transform: scale(1.1);
	background-color: #2E2E2E;
}

.text {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	padding: 10px;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
