.card-container {
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	width: 15rem;
	margin: 0.5rem;
	height: 425px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
	color: black;
}

.card-container:hover {
	transform: scale(1.1);
	background-color: #2E2E2E;
	color: white;
}

.card-img {
	width: 240px;
	height: 240px;
	object-fit: cover;
	border-radius: 1rem 1rem 0 0;
}

.card-description {
	margin: 0.5rem 5%;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	flex-grow: 1;
	white-space: nowrap;
}

.card-btn {
	text-align: center;
	width: 85%;
	border-radius: 12px;
	border: none;
	padding: 0.5rem 1rem;
	background-color: #25a;
	color: white;
	margin: 0.5rem auto;
	margin-bottom: 1rem;
	font-size: 1.2rem;
}

.card-btn:hover {
	background-color: #26a;
}
