.StashedGifsButton-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	scale: 1.2;
}

.StashedGifsButton-button {
	background-color: royalblue;
	color: white;
	width: 60%;
	border-radius: 10px;
	border: none;
	padding: 0.4rem;
	margin-top: 1.5rem;
	transition: background-color 0.1s ease, transform 0.3s ease;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
	text-decoration: none;
	text-align: center;
}

.StashedGifsButton-button:hover {
	background-color: blue;
	transform: scale(1.05);
}

.StashedGifsButton-button:active {
	background-color: royalblue;
}
