.StashedGifsButton-container {
	display: flex;
	width: 100%;
	scale: 1.5;
}

.StashedGifsButton-button {
	background-color: crimson;
	width: 50%;
	border-radius: 10px;
	border: none;
	padding: 0.4rem;
	margin: 0.7rem;
	margin-top: 1.5rem;
	transition: background-color 0.1s ease, transform 0.3s ease;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.StashedGifsButton-button:hover {
	transform: scale(1.05);
}

.StashedGifsButton-button:active {
	background-color: #9B0A22;
}
